*.fdb_latexmk
*.dep
*.dpth
*.bcf
*.aux
*.auxlock
*.toc
*.log
*.out
*.bbl
*.blg
*.nav
*.snm
*-blx.bib
*.run.xml
*.tmp
*.tmptex
*.lot
*.lof
*.fls
pgfshell_*
*-figure*.dep
*-figure*.dpth
*-figure*.pdf
*-figure*.md5
*Notes.bib
*~
.~lock*
.directory
core
.#*
*.idx
*.ilg
*.ind
*.nlo
*.nls
*.glsdefs
auto
output
gridslides
gridslides.zip
